$color-font: #444444;

.header {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 0rem 4rem;
  border-bottom: $color-font solid 0.1rem;
  margin-bottom: 3rem;

  &__title {
    font-size: 3rem;
    font-variant: small-caps;
    font-weight: bold;
  }

  &__nav {
    display: flex;
    li {
      margin-left: 2rem;
      list-style-type: none;

      a:link,
      a:visited,
      a:active {
        text-decoration: none;
        color: #444;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    li.active {
      font-weight: bold;
    }
  }
}
