$color-font: #444444;

.header {
  height: 10rem;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2rem;
  border-bottom: $color-font solid 0.1rem;
  margin-bottom: 3rem;

  &__nav {
    z-index: 1;
    display: flex;
    li {
      position: relative;
      z-index: 999;
      top: 0.1rem;
      padding: 0.5rem 2rem;
      list-style-type: none;

      a:link,
      a:visited,
      a:active {
        text-decoration: none;
        color: #444;

        &:hover {
          font-weight: bold;
        }
      }
    }

    li.active {
      font-weight: bold;
      border-top: $color-font solid 0.1rem;
      border-left: $color-font solid 0.1rem;
      border-right: $color-font solid 0.1rem;
      border-radius: 0.3rem 0.3rem 0 0;
      background-color: rgb(245, 245, 245, 1);
    }
  }
}
