<div class="auth-background"></div>

<form class="loginForm" (ngSubmit)="onLogin(form)" #form="ngForm">
  <div class="loginForm__field">
    <label for="email">Adresse email</label>
    <input type="email" id="email" required ngModel name="email" />
  </div>
  <div class="loginForm__field">
    <label for="password">Mot de passe</label>
    <input
      type="password"
      id="password"
      required
      required
      ngModel
      name="password"
    />
  </div>

  <button class="loginForm__btn" type="submit">Se connecter</button>
  <p>Vous n'avez pas de compte ? <a routerLink="/signup">Inscrivez vous</a></p>
</form>
