<div class="newFormContainer">
  <h2>Ajoutez un nouveau feedback !</h2>

  <form
    class="new-like-form"
    (ngSubmit)="onNewFeedback(likeinput.value, 'like')"
    #likeform="ngForm"
  >
    <label for="like-fb">J'aime</label>
    <input
      type="text"
      id="like-fb"
      class="new-feedback"
      required
      ngModel
      name="likeinput"
      #likeinput="ngModel"
    />
    <button class="btn btn-like" type="submit">Ajouter</button>
  </form>

  <form
    class="new-dislike-form"
    (ngSubmit)="onNewFeedback(dislikeinput.value, 'dislike')"
    #dislikeform="ngForm"
  >
    <label for="dislike-fb">J'aime moins</label>
    <input
      type="text"
      id="dislike-fb"
      class="new-feedback"
      ngModel
      name="dislikeinput"
      required
      #dislikeinput="ngModel"
    />
    <button class="btn btn-dislike" type="submit">Ajouter</button>
  </form>
</div>
