.feedback {
  font-size: 1.6rem;
  border: 0.1rem solid black;
  border-radius: 0.6rem;
  padding: 2rem 5rem;
  width: 100%;

  margin-bottom: 3rem;

  &--like {
    border: 0.2rem solid #4d734d;
  }

  &--dislike {
    border: 0.2rem solid #d4533d;
  }
}
